#logo {
  color: lightpink;
  font-size: 500px;
  font-family: "Playwrite IN", serif;
  font-style: normal;
}
h1 {
  font-family: "Bebas Neue", serif;
  font-weight: 2000;
  font-size: 70px;
  font-style: normal;
  color: lightpink;
  text-align: center;
}
/* HEADER */
#logo {
  font-weight: 300;
  font-size: 1.5rem;
  padding: 0px;
  text-align: center;
}
ul {
  list-style: none;
  padding-left: 0;
  display: flex;
}
li {
  margin-left: 4rem;
}

a {
  color: #a69279;
}

/*REPONSITORY HEADER*/
@media screen and (max-width: 590px) {
  header,
  ul {
    flex-direction: column;
  }

  li {
    margin-left: 0;
    margin-bottom: 1rem;
  }
  h1 {
    font-size: 30px;
  }
}
/*MAIN*/
body {
  background-color: #fff0db;
}
.main-img {
  margin-left: 35%;
  margin-top: 2%;
  width: 30%;
}
p {
  color: #a69279;
  text-align: center;
}
figcaption {
  color: #a69279;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
/*CONTACTS*/
.contact-form {
  text-align: left;
  margin-left: 15%;
}
h2 {
  text-align: left;
  margin-left: 15%;
  color: #a69279;
}
#name {
  font-size: 20px;
  color: #a69279;
}
#email {
  font-size: 20px;
  color: #a69279;
}
#message {
  font-size: 20px;
}
.contact-boxes {
  margin-left: 15%;
}
.contact-boxes-message {
  margin-left: 15%;
  height: 200px;
  width: 500px;
}
.message {
  text-align: left;
  margin-left: 15%;
  margin-top: 5%;
}
/*ABOUT ME*/
.about-me-images {
  margin-left: 30%;
  width: 40%;
}

/*MY PROJECTS*/
.project-image {
  width: 100%;
}

/*RESPONSIVE IMAGES PROJECTS*/

@media screen and (min-width: 590px) {
  .project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .lostcherry-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .lostcherry-describtion {
    font-size: 12px;
  }
}

/*TOM FORD PROJECT PAGE*/
.tom-ford-project-images {
  width: 100%;
}
.lostcherry-describtion {
  text-align: center;
  font-size: 20px;
}
/*FOOTER*/
footer {
  margin-top: 15%;
  border-top: 3px solid lightpink;
}
